**/__pycache__/
assets/germany15s/
*.zip
*.pth
splits/cityscapes/gt_depths/
splits/gt_depths/
.vscode
./data/
lightning_logs
work_dirs/
SfMLearner/
data/
assets/test_sequence_target_costvol_min_multi.jpeg
assets/test_sequence_target_disp_multi.jpeg
assets/test_sequence_target_disp_multi.npy